<%= @comment.content%>

<% @hoges.each do |h| %>
  <div>
    <br>
    <%= h.content %>
    <br>
    <%= link_to "hoges/showへ", post_comment_hoge_path(@post, @comment, h) %>
  </div>
  <br>
  <% h.hogehoges.each do |hg| %>
      <div>
          <br>
          <h6>
              <%= hg.content %>
              →<%= link_to "hogehoges/showへ", post_comment_hoge_hogehoge_path(@post, c, h, hg) %>
          </h6>
      </div>
      <br>
  <% end %>
  <hr>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: [@comment, @hoge], url: post_comment_hoges_path(@post, @comment), local: true) do |f| %>
    <%= f.hidden_field :hoge_id, value: @hoge.id %>
    <%= f.text_area :content, placeholder: "コメントする内容を入力してください" %>
    <%= button_tag type: "submit" do %>
      <i class="far fa-comments"></i> コメントする
    <% end %>
  <% end %>
<% end %>




