<%= @comment.content%>

<% @hoges.each do |hoge| %>
  <div>
    <%= hoge.user.email unless hoge.user.blank? %>
    <br>
    <%= hoge.content %>
    <br>
    <%= link_to "Hogeを見る", post_comment_hoge_path(@post, @comment, hoge) %>
  </div>
  <br>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: [@comment, @hoge], url: post_comment_hoges_path(@post, @comment), local: true) do |f| %>
    <%= f.hidden_field :hoge_id, value: @hoge.id %>
    <%= f.text_area :content, placeholder: "コメントする内容を入力してください" %>
    <%= button_tag type: "submit" do %>
      <i class="far fa-comments"></i> コメントする
    <% end %>
  <% end %>
<% end %>




